* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  height: 100vh;
  display: flex;
  font-family: 'Roboto','sans-sserif';
}

.col h2 {
  font-weight: 380;
  padding: 10px;
  color: white;
  border-radius: 10px;
  transition: background 0.3s;
}

.col h2:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.col button {
  outline: none;
  border: none;
  padding: 10px;
  background: transparent;
  font-size: 1.5rem;
  color: white;
   border-radius: 15px;
   cursor: pointer;
  transition: background 0.3s;
}


.col button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;

}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgb(78, 123, 78);
}